:root {
    --primary-font: "IRANSans";
    --primary-color: #bee416;
    --white-color: #fff;
    --dark-color: #dba81a;
    --sidebar-color : #e41649;
    --input-color : #c5c5c5;
    --category-color : #e4db62;
}