:root {
    --primary-font: "IRANSans";
    --primary-color: #413392;
    --white-color: #fff;
    --dark-color: #141414;
    --sidebar-color : #ade416;
    --input-color : #01160a;
    --category-color : #e4db62;
    --category-link-color : #e00d1e;
}