.cook-list{
  margin: 30px 14px;
}

.cooks {
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 20px;
}
