.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c5c5c5c5,
    #c0bfbfb7,
    #cecece73
  );
}
.body {
  width: calc(100% - 160px);
  margin-right: 160px;
  margin-top: 25px;
}
@media (max-width: 600px) {
  .body {
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
    margin-left: 0;
  }
}
